header{
    padding: 1%;
}

.login_box{
    margin: auto;
    
    width: 100%;
    max-width: 80%;
}

.login_box *{
    margin: 0 auto 1%;
}

.login_form form{
    width: auto;
}

.login_form input{
    padding: 3%;
    border-radius: 3px;
    
    background-color: #2f3233;
    color: white;
}

.login_form form input{
    display: block;
    margin-bottom: 1%;
}

::-webkit-input-placeholder{
    font-size: 0.8em;
    font-style: italic;
    color: white;
}

::-moz-placeholder{
    font-size: 0.8em;
    font-style: italic;
    color:white;
}

:-ms-input-placeholder{
    font-size: 0.8em;
    font-style: italic;
    color:white;
}

input:-moz-placeholder{
    font-size: 0.8em;
    font-style: italic;
    color:white;
}

input:focus {
    background: #00B4FF;
}

.login_form input[value="submit"]{
    margin: auto;
}

.login_form input[value="submit"]:active,
.login_form input[value="submit"]:hover{
    background-color: #00B4FF;
}

footer{
    position: absolute;
    
    margin-top: 1px dotted #515151;
    padding: 1%;
}

footer a{
    color: #515151;
    text-decoration: none;
}

footer a:hover{
    color: #00B4FF;
}